#ignore all .log files
*.log

#ignore these files!
*.txt
*.csv
*.zip

#ignore all files and any directory called 'temp'
temp/

#ignore all python cache and other optimisations

__pycache__/
.DS_Store
